/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto&display=swap'); */

/* * {
    padding: 0;
    margin: 0;
} */

/* Box Model */
.body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    /* font-size: 16px; */
    /* font-weight: normal; */
    max-width: 750px;
    margin: auto;
}

.info {
    display: flex;
}

.about {
    padding-left: 60px;
}

@media (max-width: 480px) {

    .info,
    .about {
        display: block;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .about table {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
}

.card {
    /* background-color: #fceed1; */
    background-color: rgb(251, 240, 220);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.avatar {
    width: 150px;
    border-radius: 8px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    /* font-weight: bold; */
    /* opacity: 0.8; */
    text-decoration: underline;
}

a:active {
    /* font-weight: normal; */
    text-decoration: none;
}

.about table td:last-child {
    padding-left: 10px;
}

.jobTitle h2 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

h3 {
    padding-bottom: 10px;
    margin: 0px;
    text-transform: uppercase;
}

h4 {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    text-align: center;
}

.tSkills {
    width: 100%;
    text-align: left;
}

.tSkills td:nth-child(1) {
    font-weight: bold;
}

.tSkills td:nth-child(2) {
    padding-left: 20px;
}

.tExperience {
    width: 100%;
    /* font-style: italic; */
    font-weight: bold;
}

.tExperience td:nth-child(1) {
    text-align: left;
}

.tExperience td:nth-child(2) {
    text-align: right;
}

.tEducation {
    width: 100%;
    text-align: left;
}

.tEducation td:last-child {
    text-align: right;
}

ul {
    margin-top: 0px;
    padding-left: 20px;
    text-align: justify;
}

.summary li:last-child {
    font-weight: bold;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-style: solid;
    border-color: white;
    background: transparent;
    padding: 5px;
    margin-bottom: 10px;
    font: inherit;
}

.formRow {
    display: flex;
}

.formRow>.formGroup {
    width: 50%;
    margin-right: 10px;
}

.formRow>.formGroup:last-child {
    margin-right: 0px;
}

.button {
    font: inherit;
}

.button:hover {
    cursor: pointer;
}